/* CSS for the header section */

header {
  padding-top: 125px;
  width: 100%;
  height: 525px;
  background-color: aqua;
  display: flex;
  flex-direction: column;
  padding-bottom: 50px;
  background-color: aquamarine;
  background-image: url("https://www.transparenttextures.com/patterns/batthern.png");
}

.profile-picture {
  display: flex;
  justify-content: center;
}

.name {
  font-family: 'Source Sans Pro', Sans-Serif;
  font-size: 40px;
  display: flex;
  justify-content: center;
}

.bold-name {
  font-weight: bold;
}

